@charset "UTF-8";
body {
  font-family: "メイリオ", "Meiryo", sans-serif;
  color: #383E45;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

* {
  min-height: 0vw;
}

.example {
  font-size: clamp(24px, 5.818px + 4.8484848485vw, 64px);
  font-size: clamp(1.5rem, 0.3636363636rem + 4.8484848485vw, 4rem);
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.footer {
  margin-top: 110px;
}

.footer__copyright {
  font-size: 10px;
  text-align: center;
  display: block;
}

.header__inner {
  padding: 10px 10px 10px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 820px;
  margin: 0 auto;
}

.header__logo {
  width: 120px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  color: #24292E;
}
.header__link + .header__link {
  padding-left: 30px;
}

.section {
  padding: 0 4%;
  max-width: 960px;
  margin: 0 auto;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 15px;
}

.section-lead {
  font-size: 16px;
  font-weight: bold;
}

.section-text {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

.about {
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 600px) {
  .about__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__image {
  width: 100px;
}
.about__image img {
  border-radius: 100%;
}

.about__text-block {
  margin-top: 10px;
  max-width: 403px;
}
@media screen and (min-width: 600px) {
  .about__text-block {
    margin-left: 30px;
  }
}

.bicycle {
  margin-top: 100px;
}

.bicycle__items {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 600px) {
  .bicycle__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.bicycle__item {
  text-align: center;
}
.bicycle__item + .bicycle__item {
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .bicycle__item + .bicycle__item {
    margin-top: 0;
    margin-left: 16px;
  }
}

.bicycle__lead {
  margin-top: 10px;
}

.mv {
  width: 100%;
  height: 600px;
  background: url(../images/common/mainvisual.jpg) no-repeat center center/cover;
}
/*# sourceMappingURL=styles.css.map */
