@use "global" as *;

.section {
    padding: 0 4%;
    max-width: 960px;
    margin: 0 auto;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline 1px;
    text-underline-offset: 15px;
}

.section-lead {
    font-size: 16px;
    font-weight: bold;
}

.section-text {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
}
