@use "global" as *;

.header__inner {
    padding: 10px 10px 10px 21px;
    display: flex;
    justify-content: space-between;
    max-width: 820px;
    margin: 0 auto;
}

.header__logo {
    width: 120px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__link {
    color: #24292E;

    &+& {
        padding-left: 30px;
    }
}
